PORT=PORT
NODE_ENV=NODE_ENV
DATABASE_HOST=DATABASE_HOST # Se for rodar o projeto no container, utilize o nome do container, se não "localhost"
DATABASE_PORT=DATABASE_PORT
DATABASE_USERNAME=DATABASE_USERNAME
DATABASE_PASSWORD=DATABASE_PASSWORD
DATABASE_DATABASE=DATABASE_DATABASE
NESTJS_OBSERVE_APP_KEY=NESTJS_OBSERVE_APP_KEY
NESTJS_OBSERVE_APP_SECRET=NESTJS_OBSERVE_APP_SECRET
NESTJS_OBSERVE_SERVICE_ID=NESTJS_OBSERVE_SERVICE_ID